*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

 

#sale {
  /* border: 1px solid red; */
  width: 100%;
  height: 500px;
}
#sale img {
  width: 100%;
  height: auto;
  position: absolute;
}
#shop {
  /* border: 1px solid red; */
  width: 100%;
  height: 45px;
  margin-top: 50px;
  gap:10px;
   
  /* background-color: red;  */
}
#shop > h2 {
  color: #1f1f1f;
  font: 600 24px Open Sans, sans-serif;
  margin-left: 40px;
}
#below_shop {
  /* border: 1px solid red; */
  width: 95%;
  height: auto;
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap:  0px 20px;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
   align-items: center;
   padding: 5px;

}
.sneaker {
  
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}
.sneaker > div > img {
  width: 100%;
}

#pro {
  width: 80%;

  height: 40px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
}
#below_shop a{
  text-decoration: none;
}

.productpic {
  height: 219px;
  /* border: 2px solid yellow; */
  margin: auto;
}
.productpic>img{
  /* border: 2px solid green; */
  margin-top: 50px;
  height: 200px;
}
/* #productimage>img{
height: px;
} */


span a{
  text-decoration: none;
  text-align: center;
  margin-left: 30%;
}
.pic{
  width: 100%;
  height: 400px;
}




/* css for women sale page */


.box{
/* border: 1px solid green; */
width:90%;
height:550px;
margin:auto;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(1,1fr);
gap: 30px;
}
.dd{
width:100%;
height:550px;
/* border: 1px solid green; */
display: grid;
}
.pic{
width:100%;
/* border: 1 px solid red; */
height: 100%; 
}
img{
width:100%;
}
.content{
/* border: 1px solid black; */
width:100%;
height:80px;

text-align: center;
line-height: 20px;

}
.content h3{

color: #1f1f1f;
font: 600 18px Open Sans,sans-serif;
cursor: pointer;
}

.bb{

color: #1f1f1f;
line-height: 1.5;
font: 400 14px Open Sans,sans-serif;
/* margin-bottom: 16px; */
cursor: pointer;
}

.aa{
/* border-bottom: 1px solid #003953; */
color: #003953;
display: inline-block;
font-size: 100%;
font: 700 14px Open Sans,sans-serif;
text-decoration: none;
text-transform: uppercase;
margin-top: 5px;
cursor: pointer;
}


/* css for national dog */

#dog {
  /* border: 1px solid red; */
  width: 100%;
  /* height: 500px; */
  margin-bottom: 40px;
}
#dog img {
  width: 100%;
  height: auto;
  /* position: absolute; */
  cursor: pointer;
}


/* Latest from marrel css */

 
.one{

display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: auto;
gap: 30px;
/* margin-bottom: 300px; */
padding: 30px;
}  
.two{
height: 100%;
width: 100%;
margin: auto;
/* border: 1px solid black;  */
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 10px;

}
.img{
height: 70%;
width: 100%;
}
.img1 {
/* margin-top: 100px; */
/* margin-left: 40px;  */
/* border: 1px solid; */
width: 95%;
height: 43%;
}
.rs{
margin-top: 10px;
font-size: small;
font-weight: 200;
color: gray;


}
h2{
margin-top: -10px;
margin-top: 10px;
font-size: medium;
font-weight: 200;

}
.two div{
margin-top: 80px;
/* height:120px ; */
width: 90%;
/* border: 3px solid violet; */
gap: 5px;
}
 
 .b{
margin-bottom: 10px;
} 
/* .ax{
text-decoration: none;
font-size: 12px;
} 
.ax:hover{
  text-decoration: underline;
}  */

/* div{

} */
/* css for back to campus collection */
#puma{
    /* border: 1px solid red; */
    width: 100%;
    height: 450px;
    display: flex;
    padding: 20px;
    /* border: 5px solid; */
    gap: 10px;
  }
.zz{
  display: flex;
text-align: center;
background-color: rgb(255, 255, 255);
border-color: rgb(0, 0, 0);
align-items: center;
width: 35%;
height: 100%;
margin: auto;
/* border: 1px solid green; */

  }
#proRabiya{
  margin: auto;

}
.zz h2{
color: rgb(0, 0, 0);
font-size: 24px;
}
.zz>p{
color: #1f1f1f;
color: inherit;
line-height: 1.5;
font: 400 18px Open Sans,sans-serif;
margin-bottom: 16px;
max-width: 100%;
}
#btn{

background: transparent;
border: 2px solid #1f1f1f;
border-radius: 4px;
margin-top: 10px;
color: #1f1f1f;
cursor: pointer;
font: 700 14px/120% Open Sans,sans-serif;
padding: 12px 24px;
text-align: center;
text-decoration: none;
text-transform: uppercase;

}
#right{
/* border: 1px solid blue; */
width: 950px;
height: 300px;
}
#btn:hover{
background-color: black;
color: white;
}




/* css for popular item */

.frstcls{
    width: 100%;
    height: 600px;
    position: relative;
     /* margin-bott: 300px;  */
/* display: flex; */
}
.frstcls>img{
    width: 100%;
    height: 100%;
}
.frstcls>button{
    position: absolute;
    top: 20%;
   width: 50px;
   height: 50px;
}
.frstcls>button:nth-child(3){
    /* background-color: transparent; */
    background-color: rgba(84, 179, 200);
    left: 10px;
    padding: 7px;
    border-radius: 100%;
    color: rgb(61, 100, 230);
    border: 0px;
    font-size: 25px;
    font-weight: bold;
}
.frstcls>button:nth-child(4){
    background-color: rgba(84, 179, 200);
    right: 10px;
    /* background-color: transparent; */
    padding: 7px;
    border-radius: 50px;
    color:  rgba(31, 33, 34);
    border: 0px;
    font-size: 25px;
    font-weight: bold;
}
#firstdiv{
display:  flex;
grid-template-columns: repeat(6,1fr);
gap: 10px;
/* border: 2px solid black; */
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
margin-bottom: 10%;
}
#firstdiv>div{
width: 17%;
/* border: 2px solid black; */
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
/* height: 450px; */
line-height: 10px;
padding: 1%;
padding-bottom: 2%;
}
#seconddiv{
display:  flex;
grid-template-columns: repeat(6,1fr);
gap: 10px;
/* border: 2px solid black; */
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
display: none;
margin-top: 5%;
}
#seconddiv>div{
width: 17%;
/* border: 2px solid black; */
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
line-height: 10px;
padding-bottom: 2%;
padding: 1%;
}
#firstdiv>div>img{
    width: 100%;
    height: 200px;
}
.axy{
text-decoration: none;
font-size: 12px;
}
.axy:hover{
text-decoration: underline;
}
#seconddiv>div>img{
    width: 100%;
    height: 200px;
}


/*  css Shop Sale Categories */

#sneaker{
  width: 100%;
  height: 45px;
  margin-top: 50px;
  gap:10px;
}
#sneaker>h2{
  color:#1f1f1f;
  font:600 24px  open Sans,open sans-serif;
  margin-left: 40px;
}


#big_div{
  width: 100%;
  height: 450px;
  display: flex;
  /* padding: 20px; */
  /* border: 2px solid; */
 
}
#big_img{
 /* border: 1px solid blue; */
width: 80%;

}
#content_right{
margin: auto;
}
#content_right>img{
width: 100%;
}
.content_left{
  /* border:2px solid blue; */
  margin: 10px;

 
}
.content_left h2{
  color: #000000;
  font-size: 20px;
  font:600 20px Open Sans,sans-serif;
  margin-bottom: 12px;
}
.content_left>p{
  
  color: #1f1f1f;
  
    line-height: 1.5;
    font: 400 18px Open Sans,sans-serif;
    margin-bottom: 16px;
    max-width: 100%;
}

.wg-z{
  align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-top: -12px;
    width: 100%;
    justify-content: center;
    
}
.xg-z {
  background: transparent;
  /* border: 2px solid #1f1f1f; */
  border-radius: 4px;
  color: #003953;
  color: #1f1f1f;
  cursor: pointer;
  font: 700 14px/120% Open Sans,sans-serif;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
}
.xg-z:hover{
  color: white;
    text-decoration: none;
    background-color: black;
}



/* css trending----- */
.box{
  /* border: 1px solid green; */
  width:90%;
  height:550px;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  gap: 30px;
  }
  .dd{
  width:100%;
  height:550px;
  /* border: 1px solid green; */
  display: grid;
  }
  .pic{
  width:100%;
  /* border: 1 px solid red; */
  height: 100%; 
  }
  img{
  width:100%;
  }
  .content{
  /* border: 1px solid black; */
  width:100%;
  height:80px;
  
  text-align: center;
  line-height: 20px;
  
  }
  .content h3{
  
  color: #1f1f1f;
  font: 600 18px Open Sans,sans-serif;
  cursor: pointer;
  }
  
  .bb{
  
  color: #1f1f1f;
  line-height: 1.5;
  font: 400 14px Open Sans,sans-serif;
  /* margin-bottom: 16px; */
  cursor: pointer;
  }
  
  .aa{
  /* border-bottom: 1px solid #003953; */
  color: #003953;
  display: inline-block;
  font-size: 100%;
  font: 700 14px Open Sans,sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 5px;
  cursor: pointer;
  }
  .zyw{
    text-decoration: none;
    font-size:  14px Open Sans,sans-serif;
  }
  .zyw:hover{
    text-decoration: underline;
  }
  
  