body{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

#productDetails{
    width: 90%;
    margin: auto;
    display: block;
}
.cartProductsLists{
    width: 100%;
    margin: auto;
    display: flex;
}
#mainImgDiv{
    width: 55%;
    margin: auto;
    margin-top: 0%;
    text-align: center;
}
#mainImgDiv>img{
    width: 80%;
    height: 1000px;
}

#subImgDiv{
    width: 10%;
    margin: auto;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#subImgDiv >img:first-child:hover{
    border: 5px solid #4b86a1;
}#subImgDiv >img:last-child:hover{
    border: 5px solid #5fa4c4;
}

#subTittleDiv{
    width: 34%;
    margin: auto;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    line-height: 2pc;
}
#subTittleDiv >h1{
    font-size: xxx-large;
    margin-top: 0%;

}
#subTittleDiv >h2{
    font-size: xx-large;
    margin-top: 0%;
    font-weight: 700;
    color: #1f1f1f;
}
#price{
    font-size: xx-large;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #035d59;
    font-weight: 400;
    font-size: 42px;
}
#priceDesk{
    margin-top: 0%;
    font-weight: 400;
    font-size: 24px;
}
#colorText{
    margin-top: 10%;
    margin-bottom: -7%;
    font-weight: 700;
    font-size: 24px;
}

#colorDiv {
    width: 100%;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 9%;
  }
  
  #black_color {
    width: 60px;
    height: 50px;
    background-color: black;
    margin: 5px;
  }
  #black_color:hover {
    width: 80px;
    height: 70px;
    background-color: black;
    margin: 5px;
  }
  
  #red_color {
    width: 70px;
    height: 60px;
    border: none;
    background-color: #e04847;
    margin: 5px;
  }
  #red_color:hover {
    width: 80px;
    height: 70px;
    border: none;
    background-color: #e04847;
    margin: 5px;
  }
  
  #pink_color {
    width: 60px;
    height: 50px;
    border: none;
    background-color: pink;
    margin: 5px;
  }
  #pink_color:hover {
    width: 80px;
    height: 70px;
    border: none;
    background-color: pink;
    margin: 5px;
  }
  #green_color {
    width: 70px;
    height: 60px;
    border: none;
    background-color: green;
    margin: 5px;
  }
  #green_color:hover {
    width: 80px;
    height: 70px;
    border: none;
    background-color: green;
    margin: 5px;
  }
  #blue_color {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgb(38, 38, 158);
    margin: 5px;
  }
  #blue_color:hover {
    width: 80px;
    height: 70px;
    border: none;
    background-color: rgb(37, 37, 127);
    margin: 5px;
  }
  #yellow_color {
    width: 70px;
    height: 60px;
    border: none;
    background-color: rgb(195, 195, 7);
    margin: 5px;
  }
  #yellow_color:hover {
    width: 80px;
    height: 70px;
    border: none;
    background-color: rgb(188, 188, 5);
    margin: 5px;
  }
  
  .color:hover {
    border: 1px solid #6eacc9;
    cursor: pointer;
  }
  #ratings{
    font-size: xx-large;
  }
  #sizeText{
    margin-top: 27%;
    margin-bottom: 2%;
    font-weight: 600;
    font-size: 27px;
  }

  #sizeDiv{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
 }
  .sizeDiv{
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 27px;
    background-color: rgb(245, 245, 245);
  }


  #addToCart{
    width: 100%;
    margin-top: 23%;
    padding: 20px;
    font-weight: 700;
    font-size: 21px;
    line-height: 17px;
    color: #11685F;
    border: none;
    border-radius: 5px;
    background-color: #a2ef7b;
  }
  #addToCart:hover{
    background-color: #C3F4AA;
  }

  /* ///////////////////////////////////////// */

  #recent{
    width: 90%;
    margin: auto;
    display: block;
    overflow: hidden;
  }
  #recent > h1{
    margin-top: 10%;
    margin-left: 2%;

  }
  #recentView{
    width: 95%;
    margin: auto;
    display: grid;
    overflow: scroll;
    position: relative;
    grid-template-columns: repeat(50,1fr);
    gap: 2%;
    

  }

  #recentView::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  
  #recentView::-webkit-scrollbar-thumb {
    background-color:none;
    border-radius: 4px;
  }

  .recentClass{
    cursor: pointer;
    background-color: #f5f5f5;
  }
  .recentClass > h2{
    margin-bottom: -4%;
  }

.recentClass > h2,
.recentClass > h3 {
  font-weight: 600;
  color: #003953;
  cursor: pointer;
}
.recentClass:hover {
    color: #0076cc;
    text-decoration: underline;
  }
.recentClass > h2:hover,
.recentClass > h3:hover {
  color: #0076cc;
  text-decoration: underline;
}
#recentRatings{
    font-size: x-large;
    margin-bottom: 2%;
}